.developer.card {
background-color: rgba(255, 255, 255, 0.05);
color: white;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(10px);
border-radius: 10px;
padding: 20px;
opacity: 0.7;
transition: 0.3s;
}
.developer.card:hover {
     opacity: 1;
}
.card-head {
display: flex;
align-items: center;
}
.img-wrapper {
margin-right: 10px;
}
.img-wrapper img {
     width: 100px;
     height: 100px;
border-radius: 100%;
object-fit: cover;
border: 5px solid rgba(0, 0, 0, 0.1);
}
.card .title {
     font-weight: 600;
     padding: 7px 0;
     font-size: 18px;
 }
 .hourly-rate {
     font-size: 22px;
     font-weight: 600;
     padding: 5px 0;
 }
 .address {
     color: #999;
 }
.card-btn {
     border: none;
     background-color: #eaeaea2e;
     padding: 10px;
     width: 100%;
     margin: 20px auto 0;
     display: block;
     cursor: pointer;
     max-width: 200px;
     color: white;
     border-radius: 5px;
     text-transform: uppercase;
     font-weight: 600;
}
button:active {
     transform: scale(.96);
}